# Configs and local secrets
# -----------------------------------------------------------------------------
.env
.config
*.pyc
# -----------------------------------------------------------------------------


# VIM files
# -----------------------------------------------------------------------------
*.swp
*.swo
# -----------------------------------------------------------------------------


# Emacs
# -----------------------------------------------------------------------------
.dir-locals.el
# -----------------------------------------------------------------------------


# Emacs temp file suffixes
# -----------------------------------------------------------------------------
*~
.#*
\#*#
# -----------------------------------------------------------------------------


# Eclipse setting
# -----------------------------------------------------------------------------
.settings
# -----------------------------------------------------------------------------


# VS Code Settings
# -----------------------------------------------------------------------------
.vscode/
# -----------------------------------------------------------------------------


# MacOS directory files
# -----------------------------------------------------------------------------
.DS_Store
# -----------------------------------------------------------------------------
